:root {
    --angular-yellow: #fbc005;
    --angular-orange: #f29100;
}

#logo {
    width: 200px;
    display: block;
    margin: 40px auto 0;
}

#mapVetoTitle {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    filter: drop-shadow(1px 2px 0 #ffffff);
}

#adminForm {
    width: 90%;
    margin: 40px auto;
    /* border: 2px solid #Fff; */
    margin-top: 20px;
}

#bestOfContainer {
    margin-top: 20px;
    text-align: center;

}

#bestOfText {
    margin-right: 20px;
}

#bestOfContainer input[type='radio'] {
    margin-right: 5px;
}

#bestOfContainer input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#bestOfContainer input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--angular-yellow);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

label {
    margin-right: 10px;
}

#tournamentName {
    margin-top: 20px;
    text-align: center;
}

#teams {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


@media only screen and (max-width: 470px) {

    #mapVetoTitle {
        font-size: 35px;
    }

    body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 850px) {

    #teams {
        flex-direction: column;
    }

    #adminForm {
        width: 100%;
    }
}

#teamA, #teamB {
    padding: 10px;
    padding-top: 0;
    /* text-align: left; */
    /* text-align: center; */
}

#teams h2 {
    margin: 0 auto 5px;
    text-align: center;
    font-size: 40px;
    filter: drop-shadow(1px 2px 0 #ffffff);
}

input[type=text] {
    height: 20px;
    font-size: 20px;
    border-radius: 2px;
    border: none;
}

input:focus {
    outline: none;
}

input {
    margin-bottom: 10px;
}

#submitBtn {
    font-family: 'Khand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    outline: none;
    border: none;
    padding: 8px 26px;
    color: #ffffff;
    background: var(--angular-yellow);
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    box-shadow: 0px 10px 20px -2px rgb(235 152 0 / 45%);
    display: block;
    margin: 20px auto;
    letter-spacing: 0.03em;
}

#submitBtn:hover {

    background-color: var(--angular-orange);
    box-shadow: 0px 10px 20px -2px rgb(250 110 10 / 45%);
}

#maps * {
    font-family: 'Khand', sans-serif;
    margin: 0;
    padding: 0;
    --transition: 0.15s;
    --border-radius: 0.5rem;
    --background: var(--angular-orange);
    --box-shadow: var(--angular-orange);
}

#maps .cont-main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#maps .cont-checkbox {
    width: 350px;
    height: 180px;
    border-radius: var(--border-radius);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    background: white;
    margin: 10px;
    transition: transform var(--transition);

}

#maps .cont-checkbox:active {
    transform: scale(0.9);
}

#maps input {
    display: none;
}

#maps input:checked+label {
    opacity: 1;
    box-shadow: 0 0 0 3px var(--background);
}

#maps input:checked+label img {
    -webkit-filter: none;
    /* Safari 6.0 - 9.0 */
    filter: none;
}

#maps input:checked+label .cover-checkbox {
    opacity: 1;
    transform: scale(1);
}

#maps input:checked+label .cover-checkbox svg {
    stroke-dashoffset: 0;
}

#maps label {
    display: inline-block;
    cursor: pointer;
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.6;
}

#maps label img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    clip-path: polygon(0% 0%, 100% 0, 100% 81%, 50% 100%, 0 81%);
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#maps label .cover-checkbox {
    position: absolute;
    right: 5px;
    top: 3px;
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--box-shadow);
    border: 2px solid #fff;
    transition: transform var(--transition),
        opacity calc(var(--transition) * 1.2) linear;
    opacity: 0;
    transform: scale(0);
}

#maps label .cover-checkbox svg {
    width: 13px;
    height: 11px;
    display: inline-block;
    vertical-align: top;
    fill: none;
    margin: 5px 0 0 3px;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    transition: stroke-dashoffset 0.4s ease var(--transition);
    stroke-dashoffset: 16px;
}

#maps label .info {
    text-align: center;
    margin-top: 0.2rem;
    font-weight: 600;
    font-size: 20px;
    -webkit-filter: grayscale(100%);
}

#maps input:checked+label .info {
    -webkit-filter: none;
    /* Safari 6.0 - 9.0 */
    filter: none;
}