<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="../assets/logos/fav.png" />
        <title>Angular Esports</title>
        <!-- google font khand 700,montserrat 500 italic -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Khand:wght@700&family=Montserrat:ital,wght@1,500&display=swap"
            rel="stylesheet"
        />
        <!-- global css -->
        <link rel="stylesheet" href="../global.css" />
        <!-- page specific css -->
        <link rel="stylesheet" href="view.css" />
    </head>
    <body>
        <img
            id="logo"
            src="../assets/logos/logoLight.png"
            alt="Angular Esports logo"
        />
        <h1 id="tournamentName" class="angularStyleText">Tournament name</h1>
        <div id="vetoTable">
            <div id="teams">
                <div id="teamA">
                    <img
                        class="teamLogo"
                        src="../assets/logos/logoLightSQ.png"
                        alt="Team A logo"
                    />
                    <div class="space"></div>
                    <span class="teamName"></span>
                </div>
                <div id="bestOf"></div>
                <div id="teamB">
                    <span class="teamName"></span>
                    <div class="space"></div>
                    <img
                        class="teamLogo"
                        src="../assets/logos/logoLightSQ.png"
                        alt="Team B logo"
                    />
                </div>
            </div>
            <!-- display all valorant maps -->
            <div id="maps">
                <div class="map">
                    <img
                        class="mapLogo"
                        src="../assets/maps/ascent-featured.png"
                        alt=""
                    />
                    <span class="mapName">Ascent</span>
                    <span class="banX">x</span>
                </div>
                <div class="map">
                    <img
                        class="mapLogo"
                        src="../assets/maps/bind-featured.png"
                        alt=""
                    />

                    <span class="mapName">bind</span>
                    <span class="banX">x</span>
                </div>
                <div class="map">
                    <img
                        class="mapLogo"
                        src="../assets/maps/breeze-featured.png"
                        alt=""
                    />
                    <span class="mapName">breeze</span>
                    <span class="banX">x</span>
                </div>
                <div class="map">
                    <img
                        class="mapLogo"
                        src="../assets/maps/fracture-featured.png"
                        alt=""
                    />
                    <span class="mapName">fracture</span>
                    <span class="banX">x</span>
                </div>
                <div class="map">
                    <img
                        class="mapLogo"
                        src="../assets/maps/haven-featured.png"
                        alt=""
                    />
                    <span class="mapName">haven</span>
                    <span class="banX">x</span>
                </div>
                <div class="map">
                    <img
                        class="mapLogo"
                        src="../assets/maps/icebox-featured.png"
                        alt=""
                    />
                    <span class="mapName">icebox</span>
                    <span class="banX">x</span>
                </div>
                <div class="map">
                    <img
                        class="mapLogo"
                        src="../assets/maps/split-featured.png"
                        alt=""
                    />
                    <span class="mapName">split</span>
                    <span class="banX">x</span>
                </div>
            </div>
        </div>
        <!-- query string cdn -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.5/qs.min.js"
            integrity="sha512-JduLFfiB5t9F2dYayaCCWObe/SeciiMhX2MHAKGvQ22crUA/Sb1l4elG5A7r7Bu1tP2rs1cU5lR1Irx/govVdg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script src="view.js"></script>
    </body>
</html>
